:root {
	font-size: 16px;
}

html {
	--button-normal: #c0c0c0;
	--button-hover: #ddd;

	overflow: hidden;
}

.bg-maroon {
	background-color: #85144b;
}

body {
	background-color: #f0f0f0;
	font-family: Monaco, monospace;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body.dragging,
body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.6;
	z-index: 2000;
	box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

ol.blocks {
	padding: 0.375rem 0.375rem 0.5rem 0.5rem;
	background: #e0e0e0;
	border-radius: 1rem;
	height: 3rem;
	margin-right: 0.25rem;
	margin-top: 0.25rem;
}

ol.blocks-vertical {
	padding: 0.5rem;
	background: #e0e0e0;
	border-radius: 1rem;
	width: 3rem;
	margin-right: 0.25rem;
	margin-top: 0.25rem;
}

ol.blocks li.placeholder {
	position: relative;
	width: calc(3rem - 4px);
	height: calc(3rem - 4px);
	margin-right: 0.25rem;
	margin-bottom: 0.25rem;
	line-height: 3rem;
	display: block;
	border: 2px dotted #bbb;
	border-radius: 0.5rem;
}
ol.blocks li.placeholder:before {
	position: absolute;
	color: red;
}

#canvas {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	background-color: transparent;
}
canvas[resize] {
	width: 100%;
	height: 100%;
}
#gui {
	z-index: 999;
	height: 8rem;
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
}

.command-rows {
	display: flex;
	position: relative;
}

.component-columns {
	display: flex;
	position: relative;
}

.commands,
.components,
.colors {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 2rem;
	min-width: 6.5rem;
}

.blocks::before {
	color: var(--button-normal);
	width: 3rem;
	display: block;
	margin-right: 0.25rem;
	user-select: none;
	content: attr(data-title);
}

.blocks-vertical::before {
	color: var(--button-normal);
	height: 3rem;
	display: block;
	margin-bottom: 0.25rem;
	user-select: none;
	content: attr(data-title);
}

ol#commands::after {
	display: block;
	width: 3rem;
	height: 3rem;
	text-align: center;
	font-size: 2rem;
	content: " ";
	border-radius: 8px;
	box-sizing: border-box;
}

.block {
	border: 0.125rem solid transparent;
	box-sizing: border-box;
}

.block:hover {
	opacity: 0.7;
	cursor: grab;
}

.block:active {
	background-color: var(--button-normal);
	cursor: grabbing;
}

.fas {
	width: 3.25rem;
	height: 3.25rem;
	line-height: 3rem;
	font-size: 1.5rem;
	text-align: center;
	vertical-align: middle;
	display: block;
	border-radius: 8px;
	background: var(--button-normal);
	color: #fff;
	background-clip: content-box;
}

.commands .fas:not(.color) {
	color: #fff;
}

.fas:active {
}

.colors {
	width: 3rem;
	flex-direction: column;
	min-width: 3rem;
	position: absolute;
	right: 0;
	bottom: 0;
}

.color {
	width: 3rem;
	height: 3rem;
}

.color-1 {
	background: var(--color-1);
}
.color-2 {
	background: var(--color-2);
}
.color-3 {
	background: var(--color-3);
}
.color-4 {
	background: var(--color-4);
}
.color-5 {
	background: var(--color-5);
}

.color-6 {
	background: linear-gradient(
		to bottom,
		var(--color-1),
		var(--color-1),
		var(--color-2),
		var(--color-2),
		var(--color-3),
		var(--color-3),
		var(--color-4),
		var(--color-4),
		var(--color-5),
		var(--color-5)
	);
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6 {
	background-clip: content-box;
}

.commands .select,
.colors .select {
	z-index: 9999;
	box-shadow: #33ddff 0px 0px 0px 4px;
}

#gui-top {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

#undo,
#redo {
	opacity: 0.5;
}

.mirror {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23FFF' d='M10.92,29.7a1.15,1.15,0,0,0,2,.81l5.7-5.7a1.14,1.14,0,0,0,0-1.62l-5.7-5.7a1.15,1.15,0,0,0-2,.81Z'/%3E%3Cpath fill='%23FFF' d='M36.93,29.7a1.15,1.15,0,0,1-2,.81l-5.7-5.7a1.14,1.14,0,0,1,0-1.62l5.7-5.7a1.15,1.15,0,0,1,2,.81Z'/%3E%3Crect fill='%23FFF' x='23' y='14' width='2' height='20' rx='1' ry='1'/%3E%3C/svg%3E");
}
